* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    background-color: #1F2937;
}
ul {
    list-style-type: none; 
    display: flex;
    justify-content: column;
    align-items: center;
    gap: 16px;
}

a {
    /*no underline of links*/
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #1F2937;
}

.header-pic {
    height: 52px;
    width: 288px;
    object-fit: cover;
    object-position: 35% 80%;
    border-radius: 5px;
}


.mid-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding-bottom: 32px;
}

.web-descr {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}
.web-desc-header {
    font-size: 48px;
    font-weight: 950;
    line-height: 90%;
    color: #F9FAF8;
    margin-bottom: 4px;
}
.web-desc-body {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 4px;
}

button{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    max-width: 75px;
    min-width: 50px;
    color: #E5E7EB;
    background-color: #3882F6;
}

.header-sign {
    flex-grow: 0;
    align-self: flex-start;
    
}

.header2-pic {
    height: 200px;
    width: 400px;
    object-fit: cover;
    border-radius: 5px;
}

/************************ MID SECTION *********************/
.mid-wrapped {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    margin-bottom: 0;
    
}

.mid-2 {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 8px;
}

.mid-2-header {
    font-size: 36px;
    font-weight: 950;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
.midimgs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 8px;
}
.mid-2-img {
    display: flex;
    flex-direction: column;
    max-width: 125px;
}
.mid-2-jpg {
    height: 125px;
    width: 125px;
    object-fit: cover;
    object-position: 35% 80%;
    border-radius: 5px;
}
.food-desc {
    text-align: center;
    color: gray;
    font-size: 12px;
}
/***** testimony section ****/
.mid-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #E5E7EB;
    width: 50vw;
    padding-left: 16px;
    padding-right: 16px;

    margin-bottom: 0;
}
.testimony {
    
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    text-align: justify;
    margin-bottom: 8px;
}

.name {
    align-self: flex-end;
    margin-bottom: 8px;
}

/****** ad *****/
.bottom-quarter {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    margin-top: 0;

    flex: 1;
}
.ad-section {
    display: flex;
    background-color: #3882F6;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    width: 50vw;

}


.ad-descrip {
    display:flex;
    flex-direction: column;
    
    justify-content: center;
    padding: 8px;
    
}

.ad-head, .ad-body {
    color: #F9FAF8;
}

.ad-head {
    font-size: 24px;
    font-weight: 950;
    margin-bottom: 0px;
}

.ad-body {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ad-sign {
    flex-grow: 0;
    margin-right: 8px;
}

/************* footer *************/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
}