* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}
ul {
    list-style-type: none; 
    display: flex;
    justify-content: column;
    align-items: center;
    gap: 16px;
}

a {
    /*no underline of links*/
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-pic {
    height: 72px;
    width: 288px;
    object-fit: cover;
    object-position: 25% 85%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #1F2937;
}

.mid-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding-bottom: 32px;
}

.web-descr {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}
.web-desc-header {
    font-size: 48px;
    font-weight: 950;
    line-height: 90%;
    color: #F9FAF8;
    margin-bottom: 4px;
}
.web-desc-body {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 4px;
}

.header-sign {
    border-radius: 5px;
    flex-grow: 0;
    width: 25%;
    align-self: flex-start;
    color: #E5E7EB;
    background-color: #3882F6;
    border: 0;
}

.header2-pic {
    height: 200px;
    width: 400px;
    object-fit: cover;
    object-position: 40px 45%;
}

